@media mq-mobile
  #mobile-nav
    position: absolute
    top: 0
    left: 0
    width: mobile-nav-width
    height: 100%
    background: color-mobile-nav-background
    border-right: 1px solid color-white

@media mq-mobile
  .mobile-nav-link
    display: block
    color: color-grey
    text-decoration: none
    padding: 15px 20px
    font-weight: bold
    &:hover
      color: color-white

@media mq-mobile
  nav.site-nav li a
    padding: 0.2em 0.1em 0;

@media mq-mobile
  index-profile
    width: 80%;
    margin-left: 10%;

@media mq-mobile
  nav.site-nav li.inslink
    display:none

@media mq-mobile
  section#main
    padding: 8px

@media mq-mobile
  article 
    padding: 40px 0px 0px 0px;
  
  article h1 a
    font-size: 24px;
    padding-left: 12px;

  article .gllary-single .center-cropped
    height: 400px

  article.post img, article.post .post-video
    max-width: 100%;

