@media mq-tablet
  nav.site-nav li.inslink
    display:none

@media mq-tablet
  article 
    padding: 40px 20px 0px 20px;

  article h1 a
    font-size: 32px;

  article .gllary-single .center-cropped
    height: 300px;

  article.post img, article.post .post-video
    max-width: 90%;

